body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app-wrapper{
    display: flex;
}

.news-feed {
    margin:4px;
    padding:4px;
    background-color: lightgrey;
    width: 500px;
    height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
}

.currency-converter {
    background-color: #3a3e3a;
    align-items: center;
}

.exchangeRate{
    background-color: #443d44;
    align-items: center;
}